server:
  port: 8071

spring:
  application:
    name: configserver

  profiles:
    #active: native
    active: git

  cloud:
    config:
      server:
        #native:
          #search-locations: "classpath:/config" or we can use any file path i.e, file system
        git:
          uri: "https://github.com/jayadurga-t/avo-config-repo.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true

  # in config server, rabbitmq configuration should be done
  # while configuring the spring cloud config monitor and webhook,
  # not needed while configuring spring cloud bus
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

encrypt:
  key: "2026Feb14Sat@14:00"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enebaled: true
  endpoint:
    health:
      probes:
        enabled: true